<div id="background" class="background"></div>
<div class="layout">
	<div class="layout__header">
		<header class="header header--index">
			<div class="header__logo"><i class="fa fa-bicycle" aria-hidden="true"></i></div>
			<div class="header__title">
				<h1>Fietsenstalling gezocht!</h1>
			</div>
			<div class="clearfix"></div>
		</header>
	</div>
	<div class="layout__index">
		<div class="index">
			<div class="index__title">
				<h2>Waar wil jij je fiets stallen?</h2>
			</div>
			<div class="index__form">
				{{> form}}
			</div>
		</div>
	</div>
</div>
